
#images
{
	display: flex;
	flex-wrap: wrap;
	width: 297px;
	height: 152px;

}

#img1
{
	/*	border:1px solid red;*/
	height: 152px;
}
#img2
{
	/*	border:1px solid blue;*/
	height: 110px;
	width: 147px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	max-width: 66%;
}

.resize-img
{
	height: auto;
	width: auto;
	max-width: 130px;
	max-height: 148px;
}
.resize-img1
{
	height: auto;
	width: auto;
	max-height: 55px;
}